In [24]:
""" https://adventofcode.com/2022/day/8
"""
import pandas as pd


class DayEight:

    def __init__(self, input_fname):
        with open(input_fname, 'r') as f:
            data = f.readlines()
        self.df0 = pd.DataFrame([map(int, list(i.strip())) for i in data])
        display(self.df0)

    def part1(self):
        """ how many trees are visible from outside the grid?
        """
        self.df1 = self.df0.copy()
        self.df1.loc[:, :] = 0
        # look left and right
        for row in self.df0.index:
            lt = -1
            for col in self.df0.columns:
                if lt < self.df0.loc[row, col]:
                    lt = self.df0.loc[row, col]
                    self.df1.loc[row, col] = 1
            rt = -1
            for col in self.df0.columns[::-1]:
                if rt < self.df0.loc[row, col]:
                    rt = self.df0.loc[row, col]
                    self.df1.loc[row, col] = 1
        # look up and down
        for col in self.df0.columns:
            ut = -1
            for row in self.df0.index:
                if ut < self.df0.loc[row, col]:
                    ut = self.df0.loc[row, col]
                    self.df1.loc[row, col] = 1
            bt = -1
            for row in self.df0.index[::-1]:
                if bt < self.df0.loc[row, col]:
                    bt = self.df0.loc[row, col]
                    self.df1.loc[row, col] = 1
        display(self.df1)
        print(self.df1.sum().sum())

    def part2(self):
        """
        """
        print()


# day8 = DayEight("sample.txt")
day8 = DayEight("input.txt")
day8.part1()
day8.part2()

,0,1,2,3,4,5,6,7,8,9,...,89,90,91,92,93,94,95,96,97,98
0,2,3,0,3,0,2,1,0,2,3,...,2,1,1,2,1,0,0,2,2,1
1,3,2,2,2,0,0,1,2,0,1,...,3,1,0,2,1,1,1,0,3,2
2,2,2,0,3,0,0,2,0,1,0,...,2,1,2,0,3,0,3,3,2,0
3,1,3,1,3,0,1,0,3,4,1,...,4,4,3,0,0,1,2,2,3,1
4,0,2,1,0,0,0,4,3,1,3,...,0,0,1,2,2,0,2,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,0,2,2,1,0,1,1,3,1,2,...,3,2,2,1,4,3,2,0,3,2
95,2,3,3,2,3,3,0,0,1,1,...,0,2,0,3,3,3,1,3,3,3
96,2,2,1,2,3,4,2,0,0,4,...,1,4,2,2,0,4,2,1,0,3
97,3,2,1,1,2,3,4,0,1,1,...,2,4,2,3,4,1,0,2,2,3
98,1,2,2,3,3,3,2,4,4,1,...,4,2,3,3,3,3,3,2,0,3

,0,1,2,3,4,5,6,7,8,9,...,89,90,91,92,93,94,95,96,97,98
0,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1,1,0,1,0,0,0,0,1,0,0,...,1,0,0,0,0,1,1,0,1,1
2,1,0,0,1,0,0,1,0,0,0,...,0,0,1,0,1,0,1,1,1,1
3,1,1,0,0,0,0,0,1,1,0,...,1,1,1,0,0,0,0,0,1,1
4,1,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,1,1,0,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,1,1
95,1,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,1
96,1,0,0,0,1,1,0,0,0,1,...,0,0,0,0,0,1,0,0,0,1
97,1,0,0,0,0,0,1,0,0,0,...,0,1,0,0,1,0,0,0,1,1
98,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

1684